version: "3.7"
services:
  db:
    hostname: db
    image: postgres:11-alpine
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"